html {
    box-sizing: border-box;
    background-color: white;
    color: rgb(91, 99, 119);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

#header {
    height: calc(100% - 140px);
    background-image: url('header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: relative;
    /* transition: all 1s; */
}
#header.hidden {
    height: 200px;
    background-position-y: 10%;
}

#header > div {

    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 90px;
    font-family: 'Tinos', serif;
    cursor: pointer;
  }


  /*
@media only screen and (max-width: 1000px) {
    body #header {
        background-position-x: 100%;
    }
    body #menu table td {
        font-size: 2.4em;
    }
}
*/

#header img {
    max-width: 100%;
}

#menu {
    padding: 0 7%;
    height: 140px;
    position: relative;
}

#menu table {
    height: 140px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    font-family: 'Roboto', sans-serif;
    height: 140px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu table td {
    padding: 12px 0;
    font-size: 1.8em;
    cursor: pointer;
    /* border-left: 1px solid white; */
}

#menu table td:first-child {
    float: left;
}
#menu table td:last-child {
    float: right;
}

#menu table td.active {
    text-decoration: underline;
}

#content {
    padding: 15px 10%;
}
#content.hidden {
    overflow: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#content h1 {
    font-size: 1.8em;
}
#content p {
    font-size: 1.4em;
    margin: 0 0 14px 0
}
#content a {
    color: #abb2cb;
}

#page {
    background-color: rgb(255, 255, 255);
    /* transition: all 1s; */
    min-height: calc(100% - 200px);
}
#page.hidden {
    background-color: white;
    min-height: 0;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.image-with-credit {
    position: relative;
}
.image-with-credit > div {
    color: white;
    padding: 5px 5px 5px 5px;
}
.image-with-credit > img {
    width: 100%;
    display: block
}

.left, .right {
    width: 40%;
    margin: 5px;
}

@media only screen and (max-width: 1000px) {
    .left, .right {
        width: 100%;
        display: block;
    }
}
